.hero {
    margin-top: 100px;
}
.navbar-brand {
    margin: 15px;
    font-family: Satisfy;
    font-size: 1.8em;
}
.navbar-brand:hover {
    transform: scale(1.07,1.07);
}
#heroFondo {
    background-image: linear-gradient(0deg, 
    rgba(0,0,0,0.1), 
    rgba(0,0,0,0.0)
    ),url(./assets/fondoflores.png);
    background-position: center center;
    background-size: cover;
    text-align: center;
}
#heroFondo img {
    width: 100%;
    height: auto;
    padding: 18vh 0px;
}
.textoCelebre {
    background-image: linear-gradient(0deg, 
    rgba(0,0,0,0.4), 
    rgba(0,0,0,0.4)
    ), url(./assets/textoCelebre.jpg);
    background-position: center center;
    background-size: cover;
    text-align: center;
    color: white;
}
.textoCelebre p {
    font-family: Satisfy;
    font-size: 1.5em;
    padding: 15vh 0px;
}
@media (min-width:600px){
    #heroFondo > img {
        height: 90vh;
        width: auto;
    }
    .textoCelebre p {
        padding: 20vh 45vh;
        font-size: 2em;
    }
    iframe {
        width: 640px;
        height: 1576;
    }
    .carousel-inner {
        width: 50%;
        margin: 0 auto;
    }
}
.nuestrosMomentos h1 {
    text-align: center;
    font-family: Satisfy;
    padding: 20px 0px;
}
.formulario {
    text-align: center;
}
.formulario iframe {
    padding-top: 100px;
    margin: 40px 0px;
}
.footer {
    background-color: whitesmoke;
}
.footer p {
    font-family: Satisfy;
    font-size: 1.1em;
    text-align: center;
    margin: 5px 0px;
    padding: 30px 0px;
}