.hero {
    margin-top: 100px;
}
.navbar-brand {
    margin: 15px;
    font-family: Satisfy;
    font-size: 1.8em;
}
.navbar-brand:hover {
    transform: scale(1.07,1.07);
}
#heroFondo {
    background-image: linear-gradient(0deg, 
    rgba(0,0,0,0.1), 
    rgba(0,0,0,0.0)
    ),url(./assets/fondoflores.png);
    background-position: center center;
    background-size: cover;
    text-align: center;
}
#heroFondo img {
    width: 100%;
    height: auto;
    padding: 18vh 0px;
}
.textoCelebre {
    background-image: linear-gradient(0deg, 
    rgba(0,0,0,0.4), 
    rgba(0,0,0,0.4)
    ), url(./assets/textoCelebre.jpg);
    background-position: center center;
    background-size: cover;
    text-align: center;
    color: white;
}
.textoCelebre p {
    font-family: Satisfy;
    font-size: 1.5em;
    padding: 15vh 0px;
}
@media (min-width:600px){
    #heroFondo > img {
        height: 90vh;
        width: auto;
    }
    .textoCelebre p {
        padding: 20vh 45vh;
        font-size: 2em;
    }
    iframe {
        width: 640px;
        height: 1576;
    }
    .carousel-inner {
        width: 50%;
        margin: 0 auto;
    }
    .tipoRegalos img {
        width: 600px !important;
        height: auto;
        margin: 20px 0px;
    }
}
.nuestrosMomentos {
    padding-bottom: 20px;
    margin-bottom: 25px;
}
.nuestrosMomentos h1 {
    text-align: center;
    font-family: Satisfy;
    padding: 20px 0px;
}
.ubicatex {
    background-color: #e8d9c8;
    padding-bottom: 30px;
    margin-top: 10px;
}
.ubicatex h1 {
    text-align: center;
    font-family: Satisfy;
    padding: 20px 0px;
    margin-top: 20px;
}
.ubicatex h5 {
    font-family: Satisfy;
    font-size: 1.5em;
}
.ubicatex a {
    background-color: bisque;
    color: black;
    font-size: 0.8em;
}
.col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card {
    box-shadow: 2px 2px 8px grey;
}
.fraseCelebre {
    background-image: linear-gradient(0deg, 
    rgba(0,0,0,0.4), 
    rgba(0,0,0,0.4)
    ), url(./assets/textoCelebre.jpg);
    background-position: center center;
    background-size: cover;
    text-align: center;
    color: white;
}
.fraseCelebre p {
    font-family: Satisfy;
    font-size: 1.5em;
    padding: 15vh 0px;
}
.tipoRegalos {
    background-color: rgba(245, 245, 245, 0.962);
}
.tipoRegalos h1 {
    font-family: Satisfy;
    padding: 25px 0px;
}
.tipoRegalos h5 {
    font-family: Satisfy;
}
.tipoRegalos img {
    width: 80%;
    height: auto;
    margin: 20px 0px;
}
.codigoVestuario {
    padding-bottom: 30px;
    margin-bottom: 20px;
}
.codigoVestuario h2 {
    padding-top: 20px;
}
.codigoVestuario h1 {
    font-family: Satisfy;
    padding-top: 50px;
    padding-bottom: 20px;
}
.codigoVestuario h5 {
    font-family: Satisfy;
    padding: 10px 80px;
}
#botonConfirma {
    position: fixed;
    right: 15px;
    bottom: 30px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.modal-content {
    background-image: linear-gradient(0deg, 
    rgba(255, 255, 255, 0.759), 
    rgba(255, 255, 255, 0.706)
    ), url(./assets/fondoTarjeta.png);
    background-position: center center;
    background-size: cover;
}
.modal-content h3 {
    font-family: Satisfy;
}
/* .modal-body p {
    font-weight: bold;
} */
#nombreInvitado {
    font-weight: bold;
}
#acompanante {
    font-weight: bold;
}
#cupos {
    font-weight: bold;
}
.formulario {
    text-align: center;
    background-image: url(./assets/fondoflores.png);
    background-position: center center;
    background-size: cover;
}
.formulario iframe {
    padding-top: 100px;
    margin: 40px 0px;
}
.footer {
    background-color: whitesmoke;
}
.footer p {
    font-family: Satisfy;
    font-size: 1.1em;
    text-align: center;
    margin: 5px 0px;
    padding: 20px 0px;
}